<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href= "/bootstrap.min.css">
  <style>
    table {
      font-size: 1.5em;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="row-fluid">
	<div class="col-md-4 col-md-offset-4">
	  <table class="table">
		<thead>
		  <tr><th colspan=2>D&D Character Generator</th></tr>
		</thead>
		<tbody>
		  <tr><th>Class</th><td><%= @klass %></td></tr>
		  <tr><th>Race</th><td><%= @race %></td></tr>
		  <tr><th>Gender</th><td><%= @gender %></td></tr>
		  <tr><th>Alignment</th><td><%= @alignment %></td></tr>
		  <tr><th>Stats</th><td><%= @stats.join(", ") %></td></tr>
		  <tr><th>Sanity</th><td><%= @sanity %></td></tr>
		</tbody>
	  </table>
	</div>
  </div>
</div>
</body>
</html>
